.page-home {
  @include outer-container;
  text-align: center;
  margin: 0 auto;

  .page-home-branding {
    @include centered-column(6);
    @include responsive;
    @include padded;

    margin-top: rem(128);
  }

  .login-form {
    @include centered-column(4);
    @include responsive;
    @include responsive-centered-adjust(palmlap, 6);
    @include padded;
  }

  h1 {
    @extend %fs-display-3;
    font-weight: 300;
  }

  .subhead {
    @extend %fs-headline;
    margin-top: rem(24);
    font-weight: 300;
  }
}

.form-actions {
  padding-top: rem(16);
  padding-bottom: rem(16);
}
