.text-field-error {
  text-align: left;
}

.form-error {
  @extend .text-field-error;
  @include font-size(16px);
  text-align: center;
}

.checkbox__input {
  & + .checkbox__label {
    &:before {
      color: $grey;
    }
  }
}
