.page-tasks {
  @include outer-container;
}

.page-content {
  @include span-columns(12);
  @include padded;
  margin: 0 auto;
}


.tasks {
  list-style-type: none;

  > li {
    display: block;
  }

  > .task {
    position: relative;
    padding-top: rem(8px);
    transition: 0.3s all;
    overflow: hidden;

    &.done {
      opacity: 0.6;
    }

    &.ng-leave-active {
      max-height: 0 !important;
      padding-top: 0;
    }

    .delete-task {
      display: none;
      position: absolute;
      right: 10px;
      top: 0;
      z-index: 1;
    }

    &:hover {
      // background-color: $cyan-50;

      .delete-task {
        display: block;
      }
    }
  }

  .task-done {
    display: inline-block;
    float: left;
    position: relative;
  }

  .task-name {
    padding-left: 30px;

    .text-field {
      padding-top: 0;

      textarea {
        padding: 0;
        margin: 0;
      }
    }
  }
}
