.page-tasks {
  @include outer-container;
}

.page-content {
  @include span-columns(12);
  @include padded;
  margin: 0 auto;
}


.tasks {
  padding-top: rem(32px);
  list-style-type: none;

  > li {
    display: block;
  }

  > .task {
    position: relative;
    transition: 0.3s max-height, padding-top;
    overflow: hidden;

    &.done {
      .task-name {
        opacity: 0.6;
      }
    }

    &.ng-leave-active {
      max-height: 0 !important;
      padding-top: 0;
    }

    .btn {

      .icon {
        vertical-align: baseline;
      }

    }

    &:hover {
      .delete-task {
      }
    }
  }

  .task-new {
    padding-left: rem(30px);
    .text-field {
      padding-top: 0;
    }
  }

  .task-done {
    padding-top: rem(8px);
    display: inline-block;
    float: left;
    position: relative;
  }

  .task-name {
    padding-top: rem(8px);
    padding-left: rem(30px);

    .text-field {
      padding-top: 0;

      textarea {
        padding: 0;
        margin: 0;
      }
    }
  }

  .task-actions {
    padding-left: rem(30px);
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: 0.3s height;

    &.edit-mode {
      opacity: 1;
      height: 32px;
    }
  }
}
